<table class="table table-hover">
  <thead>
    <tr>
      <th>Código</th>
      <th>Nome</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor = "let clienteTabela of clientes">
      <td>{{clienteTabela.codigo}}</td>
      <td>{{clienteTabela.nome}}</td>
    </tr>
  </tbody>
</table>