<h1>
  {{title}}
</h1>
<app-cliente-list></app-cliente-list>
<!--Digite alguma coisa ai <input type="text" [(ngModel)]="title">

<ul>
  <li *ngFor = "let pessoa of pessoas">
    {{pessoa}}
  </li>
</ul>-->

